# Default ignored files
/shelf/
/workspace.xml
/IntelliJ/estrutura-de-dados-loiane.training-aulas/.idea
/IntelliJ/estrutura-de-dados-loiane.training-aulas/out
 out/production/estruturadados-algoritmos-java/br/wspereira/estruturadados/vetor/teste/
